<h2>login page</h2>
<%= form_with model: @logins,url:logins_path, data: { turbo: false } do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %><br>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %><br>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </div>
   <h3>Select your role</h3>
  <div>
    <%= form.radio_button :type,"Customer" %>
    <%= form.label :Customer %>
  </div>

  <div>
    <%= form.radio_button :type ,BusOwner%>
    <%= form.label :BusOwner %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
