<div>
  <h2>login</h2>
  <%= form_tag '/logins'do %>
  <div>
    email: <%= text_field_tag :email%><br>

  </div>

   password: <%= password_field_tag :password %> <br>

   Enter your role(BusOwner/Customer) : <%= text_field_tag :type %><br>

   <%= submit_tag "login" %>
  <% end %>

</div>
