<h2> Book your ticket now </h2>

<%= form_with model: @ticket, url: tickets_create_path(token:@token) ,data: { turbo: false } do |form| %>

    <%= form.label :name %> <%= form.text_field :name,value:@ticket.name%>
    <% @ticket.errors.full_messages_for(:name).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>

    <%= form.label :source %> <%= form.text_field :ticket_source,value:@ticket.ticket_source%>
    <% @ticket.errors.full_messages_for(:ticket_source).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>

    <%= form.label :destination %> <%= form.text_field :ticket_destination,value:@ticket_destination %>
    <% @ticket.errors.full_messages_for(:ticket_destination).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>

    <%= form.date_field :ticket_date%>
    <% @ticket.errors.full_messages_for(:ticket_date).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>

    <div>
      <ol>
        <li>
          <% binding.break %>
          <% @seats %>
          <%= form.check_box :seats_1%>
        </li>
        <li>
          <%= form.check_box :seats_2 %>
        </li>
        <li>
          <%= form.check_box :seats_3 %>
        </li>
        <li>
          <%= form.check_box :seats_4 %>
        </li>
        <li>
          <%= form.check_box :seats_5 %>
        </li>
        <li>
          <%= form.check_box :seats_6 %>
        </li>
        <br>

      </ol>

    </div>

    <br>
    <br>
    <%= form.submit :Book_ticket %>



<%end%>
