<!DOCTYPE html>
<html>
<head>
<style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
</head>
<body>
  <h3>
    <%= button_to 'Back' , searches_path(token: @token) %>
  </h3>
  <h2>Select and book your ticket of your choice </h2>

  <h2> Bus Name <%= @bus.name %></h2>
  <h2>FROM  <%= @bus.source %>    TO   <%= @bus.destination %> </h2>


<%= form_tag tickets_new_path, method: :get do %>
    <%= hidden_field_tag 'token', @token  %>
    <%= hidden_field_tag 'bus_id', @bus.id  %>
    <%= date_field_tag :ticket_date, params[:ticket_date] || Date.today, min: Date.today %>
    <%= submit_tag 'seats'%>
<% end %>

  <% @seats.each do |seat| %>
    <div>
        seat: <%= seat.seat_no %>
    </div>
  <% end %>


  <%= form_with  url: tickets_create_path(token:@token,source:@bus.source,destination:@bus.destination,name:@bus.name,bus_id:@bus.id,ticket_date:@ticket_date) ,data: { turbo: false } do |f| %>
    Seat_no :<%= f.text_field :ticket_seat_no %>
    <%= f.submit "book"%>

  <% end %>



</body>
</html>
