<h2>Select and book your ticket of your choice </h2>

<h2> Bus Name <%= @bus.name %></h2>
<h3>FROM  <%= @bus.source %>    TO   <%= @bus.destination %> </h3>

<% @bus.seat_numbers.each do |seat| %>
  <div>
    <% if seat.seat_status == false %>
      seat: <%= seat.seat_no %>
    <%end%>
  </div>
<% end %>

<%= form_with model: @seat_number, url: tickets_create_path(token:@token,bus_id:@bus.id) ,data: { turbo: false } do |form| %>
  Seat No: <%= form.text_field :seat_no %>
  <% form.submit %>
<%end%>

<%= form_tag tickets_create_path, method: :post do %>
  <%= hidden_field_tag 'token', @token  %>
  <%= hidden_field_tag 'bus_id', @bus.id  %>
  Seat No: <%= text_field_tag :seat_no%>
  <%= submit_tag 'Search' %>
<% end %>
