
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h3 {
    text-align: right;
}
</style>
</head>
<body>

  <h3>
    <%= button_to 'log out' , logins_new_path( flag: false) %>
  </h3>

<%= form_tag searches_path(flag:true), method: :get do %>
  <%= hidden_field_tag 'token', @token  %>
  source: <%= text_field_tag :source, @source %>
  destination: <%= text_field_tag :destination, @destination %>
  <%= submit_tag 'Search' , :id => "submit" %>
<% end %>
<%= form_tag searches_path(flag:true), method: :get do %>
    <%= hidden_field_tag 'token', @token  %>
    <%= submit_tag 'clear' , :source => " " , :destination => " " %>
<% end %>



<h2>Bus list</h2>
<%if @current_user.type=="BusOwner" %>
    <%= button_to 'Create bus', buses_new_path(token:@token,flag:true) %>
    <br>
<table>

  <tr>
    <th>Name</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Bus registration number</th>
    <th>Available seats</th>
    <th>Bus photo</th>
  </tr>
  <% @bus.each do |bus| %>
    <tr>
      <td>
        <%=  bus.name %>
      <td>
        <%= bus.source %>
      </td>
      <td>
        <%= bus.destination %>
      </td>
      <td>
        <%= bus.bus_registration_number %>
      </td>
      <td>
        <%= bus.seat_numbers.where(seat_status:false).count %>
      </td>
      <td>
        <%= image_tag bus.bus_photo , style: 'max-width: 7rem;' %>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
<br>
<table>

  <tr>
    <th>Name</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Bus registration number</th>
    <th>Available seats</th>
    <th>Bus photo</th>
    <th>Book ticket</th>
  </tr>
  <% @bus.each do |bus| %>
    <tr>
      <td>
        <%=  bus.name %>
      <td>
        <%= bus.source %>
      </td>
      <td>
        <%= bus.destination %>
      </td>
      <td>
        <%= bus.bus_registration_number %>
      </td>
      <td>
        <%= bus.seat_numbers.where(seat_status:false).count %>
      </td>
      <td>
        <%= image_tag bus.bus_photo , style: 'max-width: 7rem;' %>
      </td>
      <td>
        <% @id=bus.id %>
        <%= button_to 'Book', tickets_new_path(token:@token, bus_id:bus.id) %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>

</body>
</html>

