<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<table>

  <tr>
    <th>Name</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Bus registration number</th>
    <th>Available seats</th>
    <th>Bus photo</th>
  </tr>
  <%binding.break%>
  <% @source %>
  <% @bus.each do |bus| %>
    <tr>
      <td>
        <%=  bus.name %>
      <td>
        <%= bus.source %>
      </td>
      <td>
        <%= bus.destination %>
      </td>
      <td>
        <%= bus.bus_registration_number %>
      </td>
      <td>
        <%= bus.seat_numbers.where(seat_status:false).count %>
      </td>
      <td>
        <%= bus.bus_photo %>
      </td>
      <td>
        <%= button_to 'Book', tickets_new_path(token:@token,source:bus.source,destination:bus.destination) %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>

</body>
</html>
