
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Bus list</h2>

<table>

  <tr>
    <th>Name</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Bus registration number</th>
    <th>Available seats</th>
    <th>Bus photo</th>
  </tr>
  <%= @token %>
  <% binding.break%>
  <% @bus.each do |bus| %>
    <tr>
      <td>
        <%=  bus.name %>
      <td>
        <%= bus.source %>
      </td>
      <td>
        <%= bus.destination %>
      </td>
      <td>
        <%= bus.bus_registration_number %>
      </td>
      <td>
        <%= bus.seats %>
      </td>
      <td>
        <%= image_tag bus.bus_photo, size: "150" %>
      </td>
    </tr>
  <% end %>
</table>
</body>
</html>

