
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Bus list</h2>
<%if @current_user.type=="Customer" %>
    <%= button_to 'Book your ticket' , tickets_new_path(token:@token)%>
<% else %>
    <%= button_to 'Create bus', buses_new_path(token:@token) %>
<% end %>
<br>
<table>

  <tr>
    <th>Name</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Bus registration number</th>
    <th>Available seats</th>
    <th>Bus photo</th>
  </tr>
  <% @bus.each do |bus| %>
    <tr>
      <td>
        <%=  bus.name %>
      <td>
        <%= bus.source %>
      </td>
      <td>
        <%= bus.destination %>
      </td>
      <td>
        <%= bus.bus_registration_number %>
      </td>
      <td>
        <%= bus.seats %>
      </td>
      <td>
        <%= bus.bus_photo %>
      </td>
    </tr>
  <% end %>
</table>
</body>
</html>

