<!DOCTYPE html>
<html>
  <head>
    <title>BusReservation2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <div>
      <div>
        <h2>Bus Reservation</h2> <%= button_to 'log out' , logouts_new_path(token: @token) %>
          <br>
      </div>
    </div>
    <% flash.each do |type, msg| %>
      <div class="error">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
